#### Fetch the data from Wikipedia page

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

res = requests.get(URL).text
soup = BeautifulSoup(res,'lxml')
#print(soup.prettify())

Load the data into a dataframe (exclude data with borough 'Not assigned', copy the borough for Neighbourhood with 'Not assigned')

In [2]:
df1 = pd.DataFrame(columns=['Postcode','Borough','Neighbourhood'])

for items in soup.find('table', class_='wikitable sortable').find_all('tr')[1::1]:
    data = items.find_all(['th','td'])
    try:
        if (data[1].text != "Not assigned" and data[2].text != "Not assigned\n" ) :    
                df1.loc[len(df1)] = [data[0].text,data[1].text,data[2].text]
        elif (data[1].text != "Not assigned" and data[2].text == "Not assigned\n") :
                df1.loc[len(df1)] = [data[0].text,data[1].text,data[1].text]
      
    except IndexError:pass

In [4]:
df1['Neighbourhood'] = df1['Neighbourhood'].str.strip()  #strip the junk char
df1.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [6]:
#Sort the data by Postalcode
df1.sort_values(['Postcode'], axis=0,ascending=True, inplace=True)
df1.head()

   Postcode      Borough   Neighbourhood
8       M1B  Scarborough           Rouge
9       M1B  Scarborough         Malvern
23      M1C  Scarborough      Port Union
22      M1C  Scarborough      Rouge Hill
21      M1C  Scarborough  Highland Creek

In [7]:
#format the dataframe as per the requirement in the assessment. combining Neighbourhood values for same Postcode.

df2 = pd.DataFrame(columns=['Postcode','Borough','Neighbourhood'])
max = int(df1.size/3)
max
X = df1.iloc[0,0]
Y = df1.iloc[0,1]
Z = df1.iloc[0,2]
for  i in range(1, max):

    if (df1.iloc[i,0] == X):
        Z = Z + ", " + df1.iloc[i,2]

    else :
        
        df2.loc[len(df2)] = [X,Y,Z]
        X = df1.iloc[i,0]
        Y = df1.iloc[i,1]
        Z = df1.iloc[i,2]
    
df2.loc[len(df2)] = [X,Y,Z]

In [8]:
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Port Union, Rouge Hill, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Shape - Number of rows and columns in dataframe

In [9]:
df2.shape

(103, 3)